<!DOCTYPE html>

<html>
<head>
    @using MortyShop_MVC.Models
    <meta name="viewport" content="width=device-width" />
    <title>Morty Shop - @ViewBag.Title</title>
    <link href="~/Assets/CSS/GeneralCSS.css" rel="stylesheet" />
    <link href="~/Assets/CSS/CategoryCSS.css" rel="stylesheet" />
    @RenderSection("styles", false)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topBar">
        <div class="logo">
            <img src="~/Assets/Images/mortyshop_logo2.png" />
        </div>
        <div class="menu">
            <ul class="categoryList">
                @Html.Partial("_MainCategories")
            </ul>
        </div>
        @{ 
            MortyShopDB db = new MortyShopDB();
            Member m = (Member)Session["Member"];
        }
        <div class="user">
            @if (m != null)
            {
                <div class="user-info">
                    <a href="@Url.Action("Profile", "Member")" class="user-name">
                        @m.Name
                    </a>
                    <a href="@Url.Action("Logout", "Member")" class="logout-btn">
                        Çıkış Yap
                    </a>
                </div>
            }
            else
            {
                <div class="auth-buttons">
                    <a href="@Url.Action("Login", "Member")" class="login-btn">
                        Giriş Yap
                    </a>
                    <a href="@Url.Action("Register", "Member")" class="register-btn">
                        Üye Ol
                    </a>
                </div>
            }
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    <div class="mainContainer">
        @RenderBody()
    </div>
</body>
</html>
